name: 'Go Setup'
description: 'Sets up Go environment with caching'

inputs:
  go-version:
    description: 'Go version to use'
    required: false
    default: '1.25.4'

runs:
  using: "composite"
  steps:
    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ inputs.go-version }}
        cache: true
